body{
    margin:0;
    background-color:dimgrey;
}
table{
    width:980px;
    margin: 0 auto;
    text-align: center;
}
table,tr,td{
    border:1px solid #a79f9f;
    border-collapse:collapse;
}
th,tr,td{
    padding:8px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
tr th{
    color: #fff;
}
tr:nth-child(even) {background-color: #cfcccc;}
tr,td{
    padding:8px 16px;
    font-size:15px;
    font-weight:500;
    box-sizing: border-box;
}
button.generatePdf{
    color:#fff;
    background-color: rgb(128, 230, 128);
    position: absolute;
    right: 15px;
    bottom: 15px;
    width:15%;
    margin: 0 auto;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border:none;
    letter-spacing: 0.75px;
    cursor: pointer;
}
