body{
    padding:0;
    margin:0;
    background-color:#f0f2f5;
    box-sizing:border-box;
}
div.flex{
    padding:0;
    margin:0;
    display:flex;
    height:657px;
}
div.flex  div.w-36{
    width:36%;
}
div.flex  div.w-28{
    width:28%;
}
div.flex div.a-self{
    align-self:center;
}
form{
    border:1px solid #d2d4d8;
    padding:40px 16px 60px 16px;
    background-color:#fff;
    box-shadow: 7px 7px 5px #e6e0e0;
    border-radius:8px;
}
h3.m-10{
    color:rgb(85, 184, 85);
    margin:10px 0;
    padding:8px 0;
    font-family:cursive;
    font-size:23px;
    text-align:center;
    letter-spacing:1px;
}
hr{
    max-width:240px;
}
label{
    display:inline-block !important;
    margin:6px 0;
    font-family:system-ui;
    font-weight:600;
    letter-spacing:0.5px;
}
label:not(:first-child){
    margin:12px 0  4px !important;
}
input[type="text"],input[type="password"]{
    width:100%;
    margin-top:5px;
    font-size:17px;
    border-radius:6px;
    border:1px solid #dddfe2;
    box-sizing:border-box !important;
}
input[type="text"].p-8-16,input[type="password"].p-8-16{
    padding:14px 16px;
}
input[type="text"]:focus,input[type="password"]:focus{
    border:2px solid skyblue;
    outline:none;
}
input[type=checkbox]#checkControl{
    position:absolute;
    right:15px;
    top:21px;
    border:2px solid skyblue;
    outline:none;
    cursor:pointer;
}
button[type="submit"]{
    color:#fff;
    background-color:rgb(128, 230, 128);
    width:100%;
    font-size:16px;
    font-family:system-ui;
    font-weight:500;
    border-radius:10px;
    border:none;
    letter-spacing:0.75px;
    cursor:pointer;
}
button[type="submit"]:hover{
    background-color:rgb(120, 225, 120);
    
}
button.p-8-16{
    padding:10px 24px;
}
button.mt-4{
    margin-top:24px;
}
span#typeChange{
    position:absolute;
    right:15px;
    top:20px;
    cursor:pointer;
}
span.hide{
    display:none;
}
span.block{
    display:block;
}