<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/adminlogin.css')}}">
</head>
<body>
    <div class="flex">
        <div class="w-36"></div>
        <div class="w-28 a-self">
            <form action='/adminpanel' method='POST' id="formData">
                <h3 class="m-10">ADMIN LOGIN</h3>
                <hr/>
                <label for="username">Username : </label>
                <input class="p-8-16" id="username" type="text" name="username" max-length="30" placeholder="Username" required>
                <label for="submitValue2">Password : </label>
                <div style="position:relative">
                    <input class="p-8-16 mt-4" id="password" type="password" name="password" max-length="15" placeholder="Password" required>
                    <input type="checkbox" name="passwordChange" id="checkControl">
                </div>
                <button class="p-8-16 mt-4" type="submit">Submit</button>
            </form>
        </div>
        <div class="w-35"></div>
    </div>
    <script>
        document.getElementById('formData').addEventListener('submit', () => {
            setTimeout(() => {
                document.getElementById('password').value = '';
                document.getElementById('username').value = '';
            },150);
        });
    </script>
    <script src="../static/js/typeChanged.js"></script>
</body>
</html>
